@font-face
{
    font-family: Alama;
    src: url(../font/Alama.otf);
}
@font-face
{
    font-family: Vazir;
    src: url(../font/Vazir.ttf);
}
@font-face
{
    font-family: Nastaliq;
    src: url(../font/IranNastaliq.ttf);
}
body {
    margin:0;
    padding:0;
    font-family:Vazir, sans-serif;
    direction:rtl;
    text-align:right;
}
button{
    outline:none;
}
a:hover{
    text-decoration:none;
}
.login_body{
    background: linear-gradient( rgba(34,34,34,0.7), rgba(34,34,34,0.7) ), url('../img/aloneTree.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    color:#fff;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    margin-top: 100px;
}
.banner-content h1{
    font-family:Alama;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-align:center;
}
.banner-content h1 img{
    width: 60px;
    margin-bottom: 23px;
}
.banner-content p{
    font-family:Vazir;
    font-size:18px;
}
.form-group{
    margin-bottom: 15px;
}
.form-control{
    font-family: 'Vazir', serif;
    font-size: 15px;
    margin-bottom: 13px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 25px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-dark {
    border-radius: 0;
    font-family: 'Vazir', serif;
    font-size: 15px !important;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 10px;
}
.btn-dark:hover {
    font-family: 'Vazir', serif;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}
.user_form_error{
    text-align:right;
}
.register_done_p{
    text-align:center;
    margin-top: 45vh;
    font-size: 16px;

}
.reset_password{
    font-family: Vazir , sans-serif !important;
    font-size: 22px !important;
    margin-bottom: 42px !important;
}
.user-profile {
    background: #f4f4f4;
    padding: 0px 0px 20px 0px;
}
.user-profile .post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
}
.user-profile .post-content .author-post {
    width: 100%;
    margin-top: -105px;
    margin-bottom: 5px;
    z-index: 1;
    float: center !important;
}
.user-profile .post-content .author-post img {
    width: 200px;
    height: 200px;
    border: 7px solid #fff;
}
p {
    line-height: 1.8;
}

a {
    color:#12c064;
    text-decoration:none;
}

a:hover {
    color:#00a74f;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

#header {
    padding:10px 100px;
    font-size:14px;
    background:#12c064;
    color:#fff;
    border-bottom:4px solid #1cdf78;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#1b6d32;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
}


form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    font-weight:bold;
    padding: 12px 31px !important;
    color:#fff;
    background: #0fc19e;
    padding:8px 18px;
    font-size:16px;
    text-transform:uppercase;
    width: 100%;
    border-radius:3px;
    font-family:Vazir, sans-serif;
    margin-bottom: 25px;
}
input[type=submit]:hover, a.button:hover{
    background: #0fc17a;
    cursor:pointer;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
    width:52%;
}
@media (max-width: 450px){
    .login-form {
        width:95% !important;
    }
    .btn-dark{
        font-size:11px !important;
    }
}

/* social-auth */
.social {
    float: right;
    margin-top: 21px;
    border-top: 1px solid;
    padding: 36px;
}
.social ul{
    padding-right:0px;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }
.social li.google:hover { background:#de1000; }

/* images */
.profilebox1{
    background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('../img/be7.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 250px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.profilebox2{
    background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('../img/be2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 250px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.profilebox3{
    background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('../img/be3.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 250px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.profilebox4{
    background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('../img/be5.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 250px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.profilebox-large{
    background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('../img/be1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 500px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.profile .row .col-lg-3, .profile .row .col-lg-6 {
    padding: 0px !important;
    margin: 0px !important;
}
.profile .row {
    padding: 0px !important;
    margin: 0px !important;
}
.camera_div{
    position:relative;
    bottom: 65px;
    left: 67px;
}
.camera_div_button{
    border-radius:50%;
}
.camera_icon{
    font-size: 25px;
    padding: 16px 16px;
    background-color: #ddd;
    border-radius: 100%;
    cursor:pointer;
}
.camera_icon:hover{
    background-color: #ccc;
}
}
.image-preview, .image-detail {
    max-width:300px;
    float:left;
    margin:0 20px 20px 0;
}
.image-detail { margin-top:20px; }
.image-info div {
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:auto; }
#image-list .image {
    float:left;
    width:220px;
    height:300px;
    margin:0 10px 10px 10px;
    border-top:8px solid #12c064;
    background:#eee;
}
#image-list img { width:220px; height:220px; }
#image-list .info { padding:10px; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}

/* users */
#people-list img {
    width:180px;
    height:180px;
    border-radius:50%;
    margin-bottom:20px;
}
#people-list .user {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}
#people-list .info { text-align:center; }
img.user-detail {
    border-radius:50%;
    float:left;
}
.profile-info {
    float:left;
    overflow:auto;
    margin-right:20px;
}
.image-container { margin-top:40px; }

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 10px 10px 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}
