{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/static/img/fff.jpg">
        <link rel="stylesheet" href="{% static "css/instagram.min.css" %}">
        <script src="https://kit.fontawesome.com/59422bdd8a.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{%static "jquery/blog.js"  %}"></script>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    {% if request.user.is_authenticated %}
    <body>
        <header class="tr-header">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
	                  <div class="navbar-header">
		                    <a class="navbar-brand" href="#"> عرفان گرام&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/fff.jpg" class="ad_icon" alt="favicon"></a>
		                </div><!-- /.navbar-header -->

		                <div class="navbar-left">
		                    <div class="collapse navbar-collapse" id="navbar-collapse">
		                        <ul class="nav navbar-nav">
		                        </ul>
		                    </div>
		                </div><!-- /.navbar-left -->

		                <div class="navbar-right">
		                    <ul class="nav navbar-nav">

		                        <li class="dropdown notification-list">
		                            <a class="nav-link " href="{% url "notification" %}" role="button" aria-haspopup="false" aria-expanded="false">
			                              <i class="fa fa-bell noti-icon"></i>
			                          </a>
		                        </li>

		                        <li class="dropdown mega-avatar">
		 		                        <div id="dropdown-menu" class="dropdown-menu w dropdown-menu-scale pull-right">
		                                <a class="dropdown-item" href="{% url "logout" %}"><span>خروج</span></a>
		                            </div>

		                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="avatar w-32"><img src="{{request.user.profile.photo.url}}" class="img-resonsive img-circle" width="25" height="25" alt="..."></span>
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        {{ request.user.first_name }}
                                   </span>
		                            </a>
		                        </li><!-- /navbar-item -->

		                    </ul><!-- /.sign-in -->
		                </div><!-- /.nav-right -->

                </div><!-- /.container -->
            </nav><!-- /.navbar -->
        </header>

        <section class="nav-sec">
            <div class="d-flex justify-content-between">
             <div class="p-2 nav-icon-lg {% if section == "dashboard" %}mint-green{% else %}dark-black{% endif %}">
                 <a class="nav-icon" href="{% url "dashboard" %}"><em class="fa fa-home"></em>
                    <span>خانه</span>
                 </a>
             </div>

             <div class="p-2 nav-icon-lg {% if section == "images" %}mint-green{% else %}clean-black{% endif %}">
                 <a class="nav-icon" href="{% url "images:list" %}"><em class="fa fa-crosshairs"></em>
                    <span>عکس ها</span>
                 </a>
             </div>

             <div class="p-2 nav-icon-lg {% if section == "upload" %}mint-green{% else %}dark-black{% endif %}">
                <a class="nav-icon" href="{% url "images:create_image" %}"><em class="fab fa-instagram"></em>
                    <span>آپلود</span>
                </a>
             </div>

             <div class="p-2 nav-icon-lg {% if section == "people" %}mint-green{% else %}dark-black{% endif %}">
                <a class="nav-icon" href="{% url "user_list" %}"><em class="fa fa-align-left"></em>
                    <span>اعضا</span>
                </a>
             </div>

             <div class="p-2 nav-icon-lg {% if section == "profile" %}mint-green{% else %}dark-black{% endif %}">
                <a class="nav-icon" href="{% url "edit" %}"><em class="fa fa-user"></em>
                    <span>پروفایل</span>
                </a>
             </div>

            </div>
        </section>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
        </script>
        <script>
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });
            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });
        </script>
        <script>
            {% block domjs %}
            {% endblock %}
        </script>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
    {% else %}
    <body class="login_body">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block conten %}
            {% endblock %}
        </div>
    </body>
    {% endif %}
</html>