
{% extends "base.html" %}

{% block title %}بازیابی کلمه عبور{% endblock %}

{% block content %}
<div class="banner-content">
    <div class="login-form">
        {% for field in form %}
                {% if forloop.first %}
                    {% if field.errors %}
                        <p class="error_change_password">رمز عبور قبلی صحیح نمی باشد.</p>
                    {% endif %}
                {% elif forloop.last %}
                    {% if field.errors %}
                        <p class="error_change_password">رمز عبور های جدید وارد شده یکسان نمی باشد.</p>
                    {% endif %}
                {% endif %}
        {% endfor %}
    <!--    <a href="{% url "register" %}">register here</a>-->
        <form action="{% url 'password_change' %}" method="post">
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="password" placeholder="رمز عبور قبلی" name="old_password">
            </div>
            <div class="form-group">
                <input class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="رمز عبور باید حداقل شامل 8 کاراکتر باشد و در آن از حروف کوچک و بزرگ و عدد حداقل یکبار استفاده شده باشد" maxlength="30" required="required" type="password" placeholder="رمز عبور جدید" name="new_password1">
            </div>
            <div class="form-group">
                <input class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="8 characters minimum" maxlength="30" required="required" type="password" placeholder="تکرار رمز عبور جدید" name="new_password2">
            </div>
            {% csrf_token %}
            <p><input type="submit" value="تغییر"></p>
<!--            <p><input type="submit" value="ارسال ایمیل"></p>-->
        </form>
    </div>
</div>
{% endblock %}
