{% extends "base.html" %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block conten %}
{% if validlink %}
    <div class="banner-content">
        <h1 class="reset_password">
            بازیابی رمز عبور
        </h1>
        {% if form.errors %}
            <p>
                کلمه های ورود وارد شده یکسان نمی باشد.
            </p>

        {% else %}
            <p>لطفا کلمه عبور جدید خود را دو بار وارد کنید.</p>
    <!--    <a href="{% url "register" %}">register here</a>-->
        {% endif %}
        <div class="login-form">
            <form action="." method="post">
                <div class="form-group">
                    <input class="form-control" maxlength="30" required="required" type="password" placeholder="رمز عبور جدید" name="new_password1">
                </div>
                <div class="form-group">
                    <input class="form-control" maxlength="30" required="required" type="password" placeholder="تایید رمز عبور جدید" name="new_password2">
                </div>
                {% csrf_token %}
                <p><input type="submit" value="تغییر کلمه عبور"></p>
            </form>
        </div>
    </div>

{% else %}
<p class="register_done_p">لینک وارد شده صحیح نمی باشد و یا یکبار استفاده شده است.
<br>لطفا مجددا درخواست تغییر کلمه عبور را وارد کنید.
</p>
{% endif %}
{% endblock %}