{% extends "base.html" %}

{% block title %}بازیابی کلمه عبور{% endblock %}

{% block conten %}
<div class="banner-content">
    <h1 class="reset_password">
        رمز عبور خود را فراموش کرده اید؟
    </h1>
    <p>ایمیل خود را وارد کنید تا رمز عبور جدید دریافت کنید.</p>
    <div class="login-form">
        <form action="{% url 'password_reset' %}" method="post">
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="text" placeholder="ایمیل" name="email">
            </div>
            {% csrf_token %}
            <p><input type="submit" value="ارسال ایمیل"></p>
        </form>
        <a class="btn btn-dark " href="{% url "register" %}" role="button">پیش از این ثبت نام نکرده اید؟ همین حالا ثبت نام کنید.</a>
    </div>
</div>
{% endblock %}