{% extends "base.html" %}
{% load thumbnail %}

{% block title %}عکس ها{% endblock %}

{% block content %}
    <section class="newsfeed">
	  <div class="container">

	   <div class="row one-row">
<!--			<h1>Images ranking</h1>-->
<!--<ol>-->
<!--    {% for image in most_viewed %}-->
<!--        <li>-->
<!--            <a href="{{ image.get_absolute_url }}">-->
<!--                {{ image.title }}-->
<!--            </a>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--</ol>-->
		<div class="col-lg-12">
	     <a href="#list-ajax-div"><h4>مشاهده همه</h4></a>
		</div>
	   </div>

	   <div class="row top-row">
    {% for image in most_viewed %}
			<div class="col-lg-3">
			 <div class="tr-section">
				<div class="tr-post">
				 <div class="entry-header">
					<div class="entry-thumbnail">
					 <a href="{{ image.get_absolute_url }}"><img class="{{image.filter }} img-fluid" src="{{ image.image.url }}" alt="Image"></a>
					</div><!-- /entry-thumbnail -->
					 </div><!-- /entry-header -->


				 <div class="post-content">
					<div class="author-post text-center">
				 	{% if image.user.profile.photo %}
            {% with ph=image.user.profile.photo %}
								<a href="{{ image.user.get_absolute_url }}"><img class="img-fluid rounded-circle" src="{{ph.url}}" alt="Image"></a>
            {% endwith %}
          {% else %}
						<a href="#"><img class="img-fluid rounded-circle" src="/static/img/person.jpg" alt="Image"></a>
					{% endif %}
					</div><!-- /author -->


				<div class="card-content">
					{% if image.user.profile.first_name %}
						<h4>{{image.user.profile.first_name}}</h4>
					{% else %}
						<h4>ناشناس</h4>
					{% endif %}
					 <span>{{image.user.username}}@</span>
				</div>
            <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="kafe-btn kafe-btn-mint-small full-width follow" >
                {% if request.user not in user.followers.all %}
                    Follow
                {% else %}
                    Unfollow
                {% endif %}
            </a>
<!--				 <a href="" class="kafe-btn kafe-btn-mint-small full-width"> Follow-->
<!--				 </a>-->
				 </div><!-- /.post-content -->
				</div><!-- /.tr-post -->
				 </div><!-- /.tr-post -->
			</div><!-- /col-sm-3 -->
    {% endfor %}
		 </div>

	   <div class="row one-row">
	    <div class="col-lg-12">
	     <h4><input type="text" id="input_search_query1" placeholder="جستجو...." name="query"></h4>
			</div>
	   </div>

	   <div id="list-ajax-div" class="row">
			 {% include "images/image/list_ajax.html" %}
	   </div><!--/ row -->

		 <div id="list-ajax-div1" class="row">
	   </div><!--/ row -->

	  </div><!--/ container -->
	 </section>

{% endblock %}

{% block domjs %}
	function auto_grow(element) {
		element.style.height = "0px";
		element.style.height = (element.scrollHeight)+"px";
	}
{% endblock %}

{% block domready %}
    var page = 1;
		var queryU = null;
    var empty_page = false;
    var block_request = false;
<!--		var ddd=$('#input_search_query');-->
<!--		var query=ddd.data('query');-->
		console.log('wwwwwwww')
    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
						if(queryU == null){
							console.log('helllllll')
							block_request = true;
							page += 1;
							$.get('?page=' + page, function(data) {
									if(data == '') {
											empty_page = true;
									}
									else {
											block_request = false;
											$('#list-ajax-div').append(data);
									}
							});
						}
        }
    });

	function updateComment(){
		var idd1=localStorage.getItem("id", idd);
		var slugg1=localStorage.getItem("slug", slugg);
		console.log('slugg1',slugg1)
		console.log('idd1',idd1)

			$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
	}

    $( document ).ajaxStop(function() {

	$(".user_photo").on('click',function(e){

<!--		if(myVar){-->
<!--			clearInterval(myVar);-->
<!--		};-->
		localStorage.removeItem("slug");
		localStorage.removeItem("id");
		var ddd=$(this);
		var slugg=ddd.data('slug')
		localStorage.setItem("slug", slugg);
		var idd=ddd.data('id')
		localStorage.setItem("id", idd);

		if (queryU){
			$.get("/images/detail/"+ idd + "/" + slugg + "/"+'?query='+queryU, function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
		}else{
			$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
		}

		var element = $(".img-responsive-big");
<!--		filters=localStorage.getItem("filters");-->
		$(".img-responsive-big").attr("src", $(this).data('url'));
		$(".modal-one").text($(this).data('like'));
		$(".modal-two").text($(this).data('comment'));
		var filters = $(".img-responsive-big").attr('class').split(' ').pop();
		console.log('filters');
		element.removeClass(filters);
		var filter=$(this).data('filter');
		element.addClass(filter);
		console.log('filter',filter);
	});

	function updateComment(){
		var idd1=localStorage.getItem("id", idd);
		var slugg1=localStorage.getItem("slug", slugg);
		console.log('slugg1',slugg1)
		console.log('idd1',idd1)

			$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
	}



	$('#building').click(function(e){
			var ddd=$('#comment_textarea_id');
			slugg =localStorage.getItem("slug");
			idd= localStorage.getItem("id");

			$.post("/images/detail/"+ idd + "/" + slugg + "/",
				{
					body: ddd.val(),
				},
				function(data){
					$('#comment-list-modal').append(data);
				}
				);
			$( "#comment_textarea_id" ).val('');

	});

    })

	$('#building').click(function(e){
			var ddd=$('#comment_textarea_id');
			slugg =localStorage.getItem("slug");
			idd= localStorage.getItem("id");

			$.post("/images/detail/"+ idd + "/" + slugg + "/",
				{
					body: ddd.val(),
				},
				function(data){
					$('#comment-list-modal').append(data);
				}
				);
			$( "#comment_textarea_id" ).val('');

	});



    $( document ).ajaxStop(function() {
			if (queryU){
				console.log('helllllll2222')
				$(window).scroll(function() {
					var margin = $(document).height() - $(window).height() - 200;
					if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
							block_request = true;
							page += 1;
							$.get('/images/search?query='+queryU+'&page=' + page, function(data) {
								if(data == '') {
										empty_page = true;
								}
								else {
										block_request = false;
										$('#list-ajax-div1').append(data);
								}
						});
						}
				});
			}

    })

	$(".user_photo").on('click',function(){
		var ddd=$(this);
		var slugg=ddd.data('slug')
		localStorage.setItem("slug", slugg);
		var idd=ddd.data('id')
		localStorage.setItem("id", idd);
		if (queryU){
			$.get("/images/detail/"+ idd + "/" + slugg + "/"+'?query='+queryU, function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
		}else{
			$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
		}

		var element = $(".img-responsive-big");
<!--		filters=localStorage.getItem("filters");-->
		$(".img-responsive-big").attr("src", $(this).data('url'));
		console.log('ddddd',$(this).data('url'));
		$(".modal-one").text($(this).data('like'));
		$(".modal-two").text($(this).data('comment'));
		var filters = $(".img-responsive-big").attr('class').split(' ').pop();
		console.log('filters');
		element.removeClass(filters);
		var filter=$(this).data('filter');
		element.addClass(filter);
		console.log('filter',filter);
	});

		setInterval(function(){
			updateComment()
		}, 500);



  $("#input_search_query1").on('change',function(){
		console.log('dddddddddd')
    var query=$('#input_search_query1').val();
		page=1
    console.log('sss')
		if (query){
			$("#list-ajax-div").remove();
			console.log('fff')
			console.log('aaa')
			page = 1;
			empty_page = false;
			block_request = false;
			queryU = query;
			$.get('/images/search?query='+query, function(data) {
				$( "#list-ajax-div1" ).empty();
				block_request = false;
				$('#list-ajax-div1').append(data);
			});
		}

  });

    $('a.follow').click(function(e){
        var ddd=$(this);
        $.post('{% url "user_follow" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
            if (data['status'] == 'ok') {
                var previous_action = ddd.data('action');
                // toggle data-action
                $(ddd).data('action',
                    previous_action == 'follow' ? 'unfollow' : 'follow');
                // toggle link text
                ddd.text(
                    previous_action == 'follow' ? 'Unfollow' : 'Follow');
                // update total followers
                var previous_followers = parseInt($('span.count .total').text());
                $('span.count .total').text(previous_action == 'follow' ?
                    previous_followers + 1 : previous_followers - 1);
            }
        }
    );
});
{% endblock %}