{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}

<section class="profile-two">
	  <div class="container-fluid">
	   <div class="row">

		<div class="col-lg-3">
		 <aside id="leftsidebar" class="sidebar">
		  <ul class="list">
           <li>
			<div class="user-info">
			 <div class="image">

				{% if user.profile.photo %}
					<a href="#">
					 <img src="{{ user.profile.photo.url }}" class="img-responsive img-circle" alt="User">
	<!--			   <span class="online-status online"></span>-->
					</a>
			 	{% else %}
					<a href="#">
					 <img src="/static/img/person.jpg" class="img-responsive img-circle" alt="User">
	<!--			   <span class="online-status online"></span>-->
					</a>
			 	{% endif %}


			 </div>
		     <div class="detail">
			  <h4>{{ user.get_full_name }}</h4>
			  <small>{{ user.username }}@</small>
			 </div>

			 <div class="row">
				 <a href="#" id="people_follow_button" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="kafe-btn kafe-btn-mint-small follow">
					{% if request.user not in user.followers.all %}
				 		دنیال کردن
			 		{% else %}
						 دنبال شده
          {% endif %}
      	</a>
			 </div>
			 <div class="row">
<!--			  <div class="col-12">-->
<!--			   <a title="facebook" href="#" class=" waves-effect waves-block"><i class="fab fa-facebook"></i></a>-->
<!--			   <a title="twitter" href="#" class=" waves-effect waves-block"><i class="fab fa-twitter"></i></a>-->
<!--			   <a title="instagram" href="#" class=" waves-effect waves-block"><i class="fab fa-instagram"></i></a>-->
<!--			  </div>-->
			 </div>
			</div>
           </li>
           <li>
            <small class="text-muted"><a href="#">{{user.images_created.count}} &nbsp; &nbsp; پست</a> </small><br>
            <small class="text-muted"><a href="#">{{user.followers.count}}&nbsp; &nbsp; دنبال کننده </a> </small><br>
            <small class="text-muted"><a href="#">{{user.following.count}}&nbsp; &nbsp; دنبال شده </a> </small>
            <hr>
            <small class="text-muted">بیوگرافی: </small>
            <p>{{user.profile.bio}}</p>
           </li>
          </ul>
         </aside>
		</div><!--/ col-lg-3-->

		<div class="col-lg-6" style="background: #fff;">

		 <div id="detail_image_detail" class= "row">
			{% include "account/user/detail_ajax.html" %}
		 </div><!--/ row -->

		</div>

			<div class="col-lg-3">
			{% if suggested_user %}

				 <div class="suggestion-box full-width">
					<div class="suggestions-list">
						{% for user in suggested_user %}
							{% if user != current_user %}
								<div class="suggestion-body">
									{% if user.profile.photo %}
										{% with ph=user.profile.photo %}
												<a href="{{ user.get_absolute_url }}"><img class="img-responsive img-circle" src="{{ph.url}}" alt="Image"></a>
										{% endwith %}
									{% else %}
										<a href="{{ user.get_absolute_url }}"><img class="img-responsive img-circle" src="/static/img/person.jpg" alt="Image"></a>
									{% endif %}
									<div class="name-box">
										<h4>{{user.first_name}}</h4>
										<span>@{{user.username}}</span>
									</div>
			<!--						<span><i class="fa fa-plus"></i></span>-->
								</div>
							{% endif %}
						{% endfor %}
					</div><!--suggestions-list end-->
				</div>
			{% endif %}

		<div class="trending-box">
		 <div class="row">
			<div class="col-lg-12">
				<h4>بیشترین بازدیدها</h4>
			</div>
		 </div>
		</div>

		<div class="trending-box">
		 <div class="row">
			{% for image in most_viewed %}
			 {% thumbnail image.image "280x200" crop="100%" as im %}
					<div class="col-md-6">
					 <a href="{{ image.get_absolute_url }}"><img src="{{im.url}}" class="{{image.filter}} img-responsive" alt="Image"></a>
					</div>
				{% endthumbnail %}
			{% endfor %}
		 </div>
		</div>
		<div class="row bookmark">
			<a href="javascript:{% include "bookmarklet_launcher.js" %}" class="bookmark_button button">بوک مارک کنید</a>
		</div>
		</div>

       </div><!--/ row-->
	  </div><!--/ container -->
	 </section>
{% endblock %}

{% block domjs %}
	function auto_grow(element) {
		element.style.height = "0px";
		element.style.height = (element.scrollHeight)+"px";
	}
{% endblock %}

{% block domready %}
		var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function() {
			var margin = $(document).height() - $(window).height() - 200;
			if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;
				$.get('?page=' + page, function(data) {
						if(data == '') {
								empty_page = true;
						}
						else {
								block_request = false;
								$('#detail_image_detail').append(data);
						}
				});
			}
    });

	function updateComment(){
		var idd1=localStorage.getItem("id", idd);
		var slugg1=localStorage.getItem("slug", slugg);
		console.log('slugg1',slugg1)
		console.log('idd1',idd1)

		$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
			$( ".img-comment-list" ).empty();
			$('#comment-list-modal').append(data);
		});
	}

	$( document ).ajaxStop(function() {

    $('#building').click(function(e){
        var ddd=$('#comment_textarea_id');
				slugg =localStorage.getItem("slug");
				idd= localStorage.getItem("id");
						$.post("/images/detail/"+ idd + "/" + slugg + "/",
					{
						body: ddd.val(),
					},
					function(data){
						$('#comment-list-modal').append(data);
					}
					);
				$( "#comment_textarea_id" ).val('');

		});

		$(".user_photo").on('click',function(e){
			var ddd=$(this);
			var slugg=ddd.data('slug')
			localStorage.setItem("slug", slugg);
			var idd=ddd.data('id')
			localStorage.setItem("id", idd);
			$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
			var element = $(".img-responsive-big");
	<!--		filters=localStorage.getItem("filters");-->
			console.log('urrrrrrrrrllll',$(this).data('url'));
			$(".img-responsive-big").attr("src", $(this).data('url'));

			var user_like=$(this).data('userlike');
			console.log($(this).data('userlike'));
			$(".like").text(user_like);

			$(".modal-one").text($(this).data('like'));
			$(".modal-two").text($(this).data('comment'));
			var filters = $(".img-responsive-big").attr('class').split(' ').pop();
			console.log('filters');
			element.removeClass(filters);
			var filter=$(this).data('filter');
			element.addClass(filter);
			console.log('filter',filter);
		});

		function updateComment(){
			var idd1=localStorage.getItem("id", idd);
			var slugg1=localStorage.getItem("slug", slugg);
			console.log('slugg1',slugg1)
			console.log('idd1',idd1)

			$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
				$( ".img-comment-list" ).empty();
				$('#comment-list-modal').append(data);
			});
		}

	})

	$('#building').click(function(e){
			var ddd=$('#comment_textarea_id');
			slugg =localStorage.getItem("slug");
			idd= localStorage.getItem("id");
					$.post("/images/detail/"+ idd + "/" + slugg + "/",
				{
					body: ddd.val(),
				},
				function(data){
					$('#comment-list-modal').append(data);
				}
				);
			$( "#comment_textarea_id" ).val('');
	});

	$(".user_photo").on('click',function(){
		var ddd=$(this);
		var slugg=ddd.data('slug')
		localStorage.setItem("slug", slugg);
		var idd=ddd.data('id')
		localStorage.setItem("id", idd);
		$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
			$( ".img-comment-list" ).empty();
			$('#comment-list-modal').append(data);
		});
		setInterval(function(){
			updateComment()
		}, 500);

		var element = $(".img-responsive-big");
<!--		filters=localStorage.getItem("filters");-->
		$(".img-responsive-big").attr("src", $(this).data('url'));

		var user_like=$(this).data('userlike');
		console.log(user_like);
		$(".like").text(user_like);

		console.log('ddddd',$(this).data('url'));
		$(".modal-one").text($(this).data('like'));
		$(".modal-two").text($(this).data('comment'));
		var filters = $(".img-responsive-big").attr('class').split(' ').pop();
		console.log('filters');
		element.removeClass(filters);
		var filter=$(this).data('filter');
		element.addClass(filter);
		console.log('filter',filter);
	});

	$('a.follow').click(function(e){
			e.preventDefault();
			$.post('{% url "user_follow" %}',
			{
					id: $(this).data('id'),
					action: $(this).data('action')
			},
			function(data){
					if (data['status'] == 'ok') {
							var previous_action = $('a.follow').data('action');
							// toggle data-action
							$('a.follow').data('action',
									previous_action == 'follow' ? 'unfollow' : 'follow');
							// toggle link text
							$('a.follow').text(
									previous_action == 'follow' ? 'دنبال شده' : 'دنبال کردن');
							// update total followers
							var previous_followers = parseInt($('span.count .total').text());
							$('span.count .total').text(previous_action == 'follow' ?
									previous_followers + 1 : previous_followers - 1);
					}
			}
	);
});
{% endblock %}