{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}

<section class="followers">
    <div class="container-fluid">
    <div class="row follow-container">
    <div class="offset-lg-2 col-lg-8">
                           <form action="." method="get">
  	   <div class="row one-row">
	    <div class="col-lg-12">
	     <h4><input type="text" id="input_search_query1" placeholder="جستجو...." name="username"></h4>

		</div>
	   </div>
</form>
     <div class="followers-box full-width">
        <div class="followers-list" id="followers-list">
            {% include "account/user/list_ajax.html" %}
        </div><!--suggestions-list end-->
    </div>

    </div>

    </div><!--/ row-->
    </div><!--/ container -->
</section>

{% endblock %}

{% block domready %}

$('a.follow').click(function(e){
    var ddd=$(this);
    $.post('{% url "user_follow" %}',
    {
        id: $(this).data('id'),
        action: $(this).data('action')
    },
    function(data){
        if (data['status'] == 'ok') {
            var previous_action = ddd.data('action');
            // toggle data-action
            $(ddd).data('action',
                previous_action == 'follow' ? 'unfollow' : 'follow');
            // toggle link text
            ddd.text(
                previous_action == 'follow' ? 'دنبال شده' : 'دنبال کردن');
            // update total followers
            var previous_followers = parseInt($('span.count .total').text());
            $('span.count .total').text(previous_action == 'follow' ?
                previous_followers + 1 : previous_followers - 1);
        }
    }
);
});

{% endblock %}