
{% for action in actions %}
{% with user=action.user profile=action.user.profile %}

		 <li id="notification_li" >
       <div class="media first_child">
        {% if profile.photo %}
            <a href="{{ user.get_absolute_url }}">
                {% with im=user.profile.photo %}
                <img src="{{ im.url }}" alt="" class="img-responsive img-circle">
                {% endwith %}
            </a>
        {% else %}
					<a href="/static/img/person.jpg"><img class="img-responsive img-circle" src="/static/img/person.jpg" alt=""></a>
        {% endif %}
        <div class="media_body">
         <p><a href="{{ user.get_absolute_url }}">
             <b>{{ user.first_name }}</b>
            </a>
            {{ action.verb }}
            {% if action.target %}
                {% with target=action.target %}
                    <a href="{{ target.get_absolute_url }}">{{ target|truncatechars:28 }}</a>
                {% endwith %}
            {% endif %}
         </p>
         <h6>{{ action.created|timesince }} ago</h6>
        </div>
       </div>
     </li>


{% endwith %}

{% endfor %}