{% extends "base.html" %}
{% load thumbnail %}

{% block title %}خانه{% endblock %}

{% block content %}

<section class="newsfeed">
	  <div class="container-fluid">
	   <div class="row">
	    <div class="col-lg-3">
         {% for image in images %}
					 <a href="{{ image.get_absolute_url }}">
							 <div class="storybox" style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('{{image.image.url}}') no-repeat;
												background-size: cover;
														background-position: center center;
														-webkit-background-size: cover;
														-moz-background-size: cover;
														-o-background-size: cover;">
										<div class="story-body text-center">
										{% if image.user.profile.photo %}
											{% with ph=image.user.profile.photo %}
													<img class="img-circle" src="{{ph.url}}" alt="Image">
											{% endwith %}
										{% else %}
											<img class="img-circle" src="/static/img/person.jpg" alt="Image">
										{% endif %}
										{% if image.user.profile.first_name %}
											<h4>{{image.user.profile.first_name}}</h4>
										{% else %}
											<h4>ناشناس</h4>
										{% endif %}
										 <p>{{image.created|timesince}} ago</p>
										</div>
							 </div>
					 </a>
         {% endfor %}

        <div class="trending-box hidden-xs hidden-md">
         <div class="row">
          <div class="col-lg-12">
            <a href="/images/"><h4>عکس های بیشتر</h4></a>
          </div>
		    </div>
       </div>
		</div><!--/ col-lg-3 -->

		<div id="image_following" class="col-lg-6">
			{% include "account/dashboard_ajax.html" %}
		</div><!--/ col-lg-6 -->
		<div class="col-lg-3">
			{% if suggested_user %}
				 <div class="suggestion-box full-width">
					<div class="suggestions-list">
						{% for user in suggested_user %}
							{% if user != current_user %}
								<div class="suggestion-body">
									{% if user.profile.photo %}
										{% with ph=user.profile.photo %}
												<a href="{{ user.get_absolute_url }}"><img class="img-responsive img-circle" src="{{ph.url}}" alt="Image"></a>
										{% endwith %}
									{% else %}
										<a href="{{ user.get_absolute_url }}"><img class="img-responsive img-circle" src="/static/img/person.jpg" alt="Image"></a>
									{% endif %}
									<div class="name-box">
										<h4>{{user.first_name}}</h4>
										<span>@{{user.username}}</span>
									</div>
			<!--						<span><i class="fa fa-plus"></i></span>-->
								</div>
							{% endif %}
						{% endfor %}
					</div><!--suggestions-list end-->
				</div>
			{% endif %}

		<div class="trending-box">
		 <div class="row">
			<div class="col-lg-12">
				<h4>بیشترین بازدیدها</h4>
			</div>
		 </div>
		</div>

		<div class="trending-box">
		 <div class="row">
			{% for image in most_viewed %}
			 {% thumbnail image.image "280x200" crop="100%" as im %}
					<div class="col-md-6">
					 <a href="{{ image.get_absolute_url }}"><img src="{{im.url}}" class="{{image.filter}} img-responsive" alt="Image"></a>
					</div>
				{% endthumbnail %}
			{% endfor %}
		 </div>
		</div>
		<div class="row bookmark">
			<a href="javascript:{% include "bookmarklet_launcher.js" %}" class="bookmark_button button">بوک مارک کنید</a>
		</div>
		</div>
	   </div><!--/ row -->
	  </div><!--/ container -->
	 </section>
{% endblock %}

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;
$(window).scroll(function() {
		var margin = $(document).height() - $(window).height() - 200;
		if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;
				console.log('page',page)
				$.get('?page=' + page, function(data) {
						if(data == '') {
								empty_page = true;
						}
						else {
								block_request = false;
								$('#image_following').append(data);
						}
				});
		}
});

$(".dropdown-item-first").on('click',function(e){
	console.log("ggggggg");
	$(this).parent().parent().parent().parent().css({"display":"none"});
	var ajax_url=$(this).data('url');
	$.ajax({
    url: ajax_url,
    type: 'PUT',
    success: function(data) {
        console.log("hhhhhh");
    }
	});
});

$(".dropdown-item-second").on('click',function(e){
		var ddd=$(this);
		console.log('ddddddddddddddddd');
		$.post('{% url "user_follow" %}',
		{
				id: $(this).data('id'),
				action: $(this).data('action')
		},
		function(data){
				if (data['status'] == 'ok') {
						location.reload();
				}
		}
	);
});

function updateComment(){
	var idd1=localStorage.getItem("id", idd);
	var slugg1=localStorage.getItem("slug", slugg);
	console.log('slugg1',slugg1)
	console.log('idd1',idd1)

	$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
		$( ".img-comment-list" ).empty();
		$('#comment-list-modal').append(data);
	});
}

$( document ).ajaxStop(function() {

	$('#building').click(function(e){
			var ddd=$('#comment_textarea_id');
			slugg =localStorage.getItem("slug");
			idd= localStorage.getItem("id");
					$.post("/images/detail/"+ idd + "/" + slugg + "/",
				{
					body: ddd.val(),
				},
				function(data){
					$('#comment-list-modal').append(data);
				}
				);
			$( "#comment_textarea_id" ).val('');

	});


	$(".user_photo").on('click',function(e){
		var ddd=$(this);
		var slugg=ddd.data('slug')
		localStorage.setItem("slug", slugg);
		var idd=ddd.data('id')
		localStorage.setItem("id", idd);
		$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
			$( ".img-comment-list" ).empty();
			$('#comment-list-modal').append(data);
		});
		var element = $(".img-responsive-big");
	<!--		filters=localStorage.getItem("filters");-->
		$(".img-responsive-big").attr("src", $(this).data('url'));
		$(".modal-one").text($(this).data('like'));
		$(".modal-two").text($(this).data('comment'));
		var filters = $(".img-responsive-big").attr('class').split(' ').pop();
		console.log('filters');
		element.removeClass(filters);
		var filter=$(this).data('filter');
		element.addClass(filter);
		console.log('filter',filter);
	});

	function updateComment(){
		var idd1=localStorage.getItem("id", idd);
		var slugg1=localStorage.getItem("slug", slugg);
		console.log('slugg1',slugg1)
		console.log('idd1',idd1)

		$.get("/images/detail/"+ idd1 + "/" + slugg1 + "/", function(data) {
			$( ".img-comment-list" ).empty();
			$('#comment-list-modal').append(data);
		});
	}

})


	$('#building').click(function(e){
			var ddd=$('#comment_textarea_id');
			slugg =localStorage.getItem("slug");
			idd= localStorage.getItem("id");
					$.post("/images/detail/"+ idd + "/" + slugg + "/",
				{
					body: ddd.val(),
				},
				function(data){
					$('#comment-list-modal').append(data);
				}
				);
			$( "#comment_textarea_id" ).val('');

});

$(".user_photo").on('click',function(){
	var ddd=$(this);
	var slugg=ddd.data('slug')
	localStorage.setItem("slug", slugg);
	var idd=ddd.data('id')
	localStorage.setItem("id", idd);
	$.get("/images/detail/"+ idd + "/" + slugg + "/", function(data) {
		$( ".img-comment-list" ).empty();
		$('#comment-list-modal').append(data);
	});
	var element = $(".img-responsive-big");
<!--		filters=localStorage.getItem("filters");-->
	$(".img-responsive-big").attr("src", $(this).data('url'));
	console.log('ddddd',$(this).data('url'));
	$(".modal-one").text($(this).data('like'));
	$(".modal-two").text($(this).data('comment'));
	var filters = $(".img-responsive-big").attr('class').split(' ').pop();
	console.log('filters');
	element.removeClass(filters);
	var filter=$(this).data('filter');
	element.addClass(filter);
	console.log('filter',filter);
});

setInterval(function(){
	updateComment()
}, 500);

{% endblock %}