{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<section class="profile">
	<div class="row">

	   <div class="col-lg-3">
		 <div class="profilebox1 hidden-xs hidden-sm">
		 </div>
		 <div class="profilebox2 hidden-xs hidden-sm">
		 </div>
	   </div>
	   <div class="col-lg-6">
		 <div class="profilebox-large hidden-xs hidden-sm">
		 </div>
	   </div>
	   <div class="col-lg-3">
		 <div class="profilebox3 hidden-xs hidden-sm">
		 </div>
		 <div class="profilebox4">
		 </div>
	   </div>

	</div>
</section>
<form action="." method="post" enctype="multipart/form-data">
	<section class="user-profile">
	  <div class="container-fluid">
	   <div class="row">
		<div class="col-lg-12">
		   <div class="post-content">
			<div class="author-post text-center">
				{% if profile_form.instance.photo %}
			 		<a href="{{profile_form.instance.photo.url}}"><img class="img-fluid img-circle" src="{{profile_form.instance.photo.url}}" alt="Image"></a>
				{% else %}
					<a href="/static/img/person.jpg"><img class="img-fluid img-circle" src="/static/img/person.jpg" alt="Image"></a>
				{% endif %}
				<div class="camera_div">
					<div class="camera_div_button">
						<i class="fas fa-camera camera_icon"></i>
					</div>
				</div>
				<input type="file" name="photo" style="display:none" id="ggg" accept="image/*" id="id_photo">
			</div><!-- /author -->
		   </div><!-- /.post-content -->
		</div><!-- /col-sm-12 -->

	   </div><!--/ row-->
	  </div><!--/ container -->
	</section>
	<section class="details">
	  <div class="container1">
	   <div class="row">
	    <div class="col-lg-12">

          <div class="details-box row">

			<div class="col-lg-9 " id="details-box_div">
			   <div class="content-box">
				 <h4><input type="text" name="first_name" maxlength="30" value="{{user_form.instance.first_name}}" id="id_first_name"></h4>
				   <p><textarea oninput="auto_grow(this)" id="content-box-textarea" name="bio" class="profile_bio" id="id_bio">{{profile_form.instance.bio}}</textarea></p>
				   <small><span><input class="email_input" type="email" name="email" value="{{user_form.instance.email}}" ></span></small>
			   </div><!--/ media -->
			</div>
			  <div class="col-lg-3">
			   <div class="follow-box">
			    {% csrf_token %}
    			<input id="profile_button" class="save kafe-btn kafe-btn-mint profile_button" type="submit" value="ذخیره تغییرات">
			   </div><!--/ dropdown -->
			</div>

          </div><!--/ details-box -->

		</div>
	   </div>
	  </div><!--/ container -->
	 </section>
</form>

<section class="home-menu">
	<div class="container1">
		<div class="row">
			<div class="menu-category1">
			 <ul class="menu">
			  <li class="current-menu-item"><a href="#image-list">Posts <span>{{user.images_created.count}}</span></a></li>
			  <li><a href="follower/">Followers <span>{{user.followers.count}}</span></a></li>
			  <li><a href="photo_followers.html">Following <span>{{user.following.count}}</span></a></li>
			 </ul>
			</div>
		</div>
	</div>
</section>
<!--    {% for image in user.images_created.all %}-->
<!--            {% thumbnail image.image "180x180" crop="100%" as im %}-->
<!--        	<a href="{{ image.get_absolute_url }}">-->
<!--                <img src="{{ im.url }}">-->
<!--			</a>-->
<!--            {% endthumbnail %}-->
<!--	{% endfor %}-->

<div id="image-list">
	{% include "account/edit_ajax.html" %}
</div>
{% endblock %}

{% block domjs %}
	function auto_grow(element) {
		element.style.height = "0px";
		element.style.height = (element.scrollHeight)+"px";
	}
{% endblock %}
{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if(data == '') {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $('#image-list').append(data);
                }
            });
        }
    });
{% endblock %}