{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block conten %}
<!--<h1>Create an account</h1>-->
<!--<p>Please, sign up using the following form:</p>-->
<!--<form action="." method="post">-->
<!--    {{ user_form.as_p }}-->
<!--    {% csrf_token %}-->
<!--    <p><input type="submit" value="Create my account"></p>-->
<!--</form>-->
<div class="banner-content">
    <h1>
       <img src="../../static/img/favicon.svg" alt="favicon">&nbsp;&nbsp;&nbsp;&nbsp;
         عرفان گرام
    </h1>
    {% if user_form.errors %}
        <p>{{user_form.errors.password2}}</p>
        <p>{{user_form.errors.username}}</p>
        <p>{{user_form.errors.email}}</p>
    {% else %}
        <p>لطفا ثبت نام کنید </p>
    {% endif %}
    <div class="-form">
        <form action="{% url 'register' %}" method="post">
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="text" placeholder="نام کاربری" name="username">
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="text" placeholder="اسم" name="first_name">
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="50" required="required" type="email" placeholder="ایمیل" name="email">
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="password" placeholder="کلمه عبور" name="password">
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="30" required="required" type="password" placeholder="کلمه عبور را مجددا وارد کنید" name="password2">
            </div>
            {% csrf_token %}
            <p><input type="submit" value="ایجاد حساب کاربری"></p>
        </form>
        <a class="btn btn-dark " href="{% url "login" %}" role="button">پیش از این ثبت نام کرده اید؟ همین حالا وارد شوید .</a>
    </div>
    <div class="social">
        <ul>
            <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">ورود با حساب گوگل</a></li>
        </ul>
    </div>
</div>
{% endblock %}