{% extends "base.html" %}
{% load thumbnail %}

{% block title %} follower{% endblock %}

{% block content %}
<section class="followers">
    <div class="container-fluid">
    <div class="row">

    <div class="col-lg-8 col-lg-offset-2">

     <div class="followers-box full-width">
        <div class="followers-list">
            {% for user in user.followers.all %}
                <div class="followers-body">
                 <img class="img-responsive img-circle" src="{{user.profile.photo.url}}" alt="">
                 <div class="name-box">
                  <h4>{{user.first_name}}</h4>
                  <span>@grace</span>
                  <div class="followers-base">
                   <ul class="list-group">
                    <li class="list-group-item full-width">
                     <div class="pull-left" style="margin-right: 20px;">
                      <img src="assets/img/users/1.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/2.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/3.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/4.jpg" alt="" class="img-circle max-w-40 ">
                      <button class="btn btn-add-gray">
                       <i class="fa fa-plus"></i>
                      </button>
                      <span> 14,000 Followers </span>
                     </div><!--/ pull-left -->
                    </li>
                    <li class="list-group-item full-width">
                     <div class="pull-left">
                      <img src="assets/img/users/5.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/6.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/7.jpg" alt="" class="img-circle max-w-40 ">
                      <img src="assets/img/users/8.jpg" alt="" class="img-circle max-w-40 ">
                      <button class="btn btn-add-gray">
                       <i class="fa fa-plus"></i>
                      </button>
                      <span> 14,000 Following </span>
                     </div><!--/ pull-right -->
                    </li><!--/ list-group-item -->
                   </ul>
                  </div><!--/ followers-base -->
                 </div><!--/ name-box -->
                 <span><a href="" class="kafe-btn kafe-btn-mint-small"> Follow</a></span>
                </div><!--/ followers-body -->
            {% endfor %}

        </div><!--suggestions-list end-->
    </div>

    </div>

    </div><!--/ row-->
    </div><!--/ container -->
    </section>
<span>{{user.profile.photo}}</span>

{% endblock %}