{% for user in user_followers %}
    <div class="followers-body">
      {% if user.profile.photo %}
          <img class="img-responsive img-circle" src="{{user.profile.photo.url}}" alt="">
      {% else %}
          <img class="img-responsive img-circle" src="/static/img/person.jpg" alt="Image">
      {% endif %}
       <div class="name-box">
          <a href="{{ user.get_absolute_url }}">
              {% if user.first_name %}
                  <h4>{{user.first_name}}</h4>
              {% else %}
                  <h4>ناشناس</h4>
              {% endif %}
              <span>{{user.username}}@</span>
          </a>
       </div><!--/ name-box -->

        <span class="ali">
            <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow-button kafe-btn kafe-btn-mint-small follow" id="{{user.username}}">
                {% if request.user not in user.followers.all %}
                    Follow
                {% else %}
                    Unfollow
                {% endif %}
            </a>
        </span>
    </div><!--/ followers-body -->
{% endfor %}